# https://qiita.com/s_araki/items/32aded38dca734c0e02d
Checks: "-*,\
  readability-*,\
  -readability-convert-member-functions-to-static,\
  -readability-uppercase-literal-suffix,\
  -readability-static-accessed-through-instance,\
  -readability-isolate-declaration,\
  "
WarningsAsErrors: ""
HeaderFilterRegex: 'source.*\.(hpp|h)'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions: # https://qiita.com/tenmyo/items/9753609385c7e4ff5222
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.MemberSuffix: _
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-length.IgnoredVariableNames: ss
  readability-identifier-length.IgnoredParameterNames: os
  # readability-identifier-length.MinimumParameterNameLength: 2
  # readability-identifier-length.MinimumVariableNameLength: 2
