# https://qiita.com/s_araki/items/32aded38dca734c0e02d
Checks: "-*,\
  cert-*,\
  clang-analyzer-*,\
  concurrency-*,\
  cppcoreguidelines-*,\
  -cppcoreguidelines-avoid-magic-numbers,\ # マジックナンバー
  -cppcoreguidelines-pro-type-union-access,\ # TODO: vec3の要素にアクセスできるように？
  -cppcoreguidelines-avoid-const-or-ref-data-members,\ # TODO: 参照型のメンバ変数を許容
  -cppcoreguidelines-init-variables,\ # 変数宣言時の未初期化を許容
  -cppcoreguidelines-pro-type-reinterpret-cast,\ # reinterpret_castを許可
  linuxkernel-*,\
  llvm-*,\
  -llvm-include-order,\ #マクロによるインクルード時、見かけの順序を保つ
  misc-*,\
  -misc-no-recursion,\
  -misc-non-private-member-variables-in-classes,\
  modernize-*,\
  -modernize-use-trailing-return-type,\
  performance-*,\
  -performance-avoid-endl,\ # std::endl禁止
  portability-*,\
  readability-*,\
  -readability-isolate-declaration,\
  -readability-magic-numbers,\ #マジックナンバー
  -readability-uppercase-literal-suffix,\ # リテラルの小文字サフィックス
  "
WarningsAsErrors: ""
HeaderFilterRegex: 'source.*\.(hpp|h)'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions: # https://qiita.com/tenmyo/items/9753609385c7e4ff5222
  cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables: true # 一部にpublicなメンバ変数を持つのを許容
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true # デストラクタをデフォルトのままvirtual指定したとき、その他の暗黙の関数の警告を出さない
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.ProtectedMemberSuffix: _
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase # テンプレート型引数
  readability-identifier-naming.ValueTemplateParameterCase: lower_case # 非型テンプレート引数
  readability-identifier-length.IgnoredVariableNames: ss
  readability-identifier-length.IgnoredParameterNames: os
  readability-identifier-length.MinimumParameterNameLength: 1
  readability-identifier-length.MinimumVariableNameLength: 1
  readability-identifier-length.MinimumLoopCounterNameLength: 1
