[submodule "GUI/box2d"]
	path = GUI/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "GUI/sumigl"]
	path = GUI/sumigl
	url = https://codeberg.org/haruomaki/sumigl.git
[submodule "GUI/lunchbox"]
	path = GUI/lunchbox
	url = https://codeberg.org/haruomaki/lunchbox.git
