[submodule "GUI/box2d"]
	path = GUI/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "GUI/sumigl"]
	path = GUI/sumigl
	url = git@codeberg.org:haruomaki/sumigl.git
[submodule "GUI/lunchbox"]
	path = GUI/lunchbox
	url = git@codeberg.org:haruomaki/lunchbox.git
[submodule "GUI/bullet3"]
	path = GUI/bullet3
	url = https://github.com/bulletphysics/bullet3.git
