[submodule "external/box2cpp"]
	path = external/box2cpp
	url = git@github.com:haruomaki/box2cpp.git
[submodule "GUI/box2d"]
	path = GUI/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "GUI/sumigl"]
	path = GUI/sumigl
	url = git@codeberg.org:haruomaki/sumigl.git
[submodule "GUI/lunchbox"]
	path = GUI/lunchbox
	url = git@codeberg.org:haruomaki/lunchbox.git
